@import 'reset.css';

body{
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;
    background-color: rgb(192, 192, 192);
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.movie-container {
    background-color: rgb(222, 222, 222);
    width: 200px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(88, 88, 88);

}

.movie-container img{
    border-radius: 15px 15px 0px 0px;
    max-width: 100%;
}

.movie-info{
    font-size: medium;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.movie-info h4{
    color: rgb(53, 53, 53);
    margin : 0;
}
.movie-info h4:hover{
    margin : 0;
    text-decoration: underline;
    color: rgb(32, 32, 32);
}
.movie-info span{
    font-weight: 600;
    color: rgb(2, 107, 2);
    margin-left: 3px;
}

.root-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

/* header 시작 */
.header-container {
    background-color: rgb(6, 11, 61);
}

.header-wrap {
    height: 64px;
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.header-left-wrap {
    display: flex;
}

.header-left-wrap ul{
    display: flex;
    margin-left: 30px;
}

.header-left-wrap li{
    margin-right: 30px;
    padding: 8px;
}
.header-nav-item{
    color : white;
    text-decoration: none;
    font-weight: 600;
}
.page-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 32px 0;
}

.movie-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
    color: rgb(212, 212, 212);
  }

.movie-card {
display: flex;
flex-direction: column;
align-items: center;
background: rgb(6, 11, 61);
padding: 20px;
border-radius: 12px;
box-shadow: 3px 3px 6px rgb(57, 57, 57);
max-width: 400px;
text-align: center;
}

.movie-card img {
width: 100%;
max-width: 300px;
height: 450px;
border-radius: 8px;
object-fit: cover;

}

.movie-title {
font-size: 24px;
font-weight: bold;
margin-top: 15px;
}

.movie-rating {
    font-size: 18px;
    color: #ffcc00; /* 노란색 */
    font-weight: bold;
    margin-top: 10px;
}

.movie-overview {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-top: 15px;
    text-align: center;
    max-width: 350px;
  }
  